body {
    margin: 0;
    transition: 1s;
    background-color: #202429;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #0FA;
    text-decoration: none;
}

a:hover {
    color: #0CF;
    text-decoration: none;
}