body {
    margin: 0;
    transition: 1s;
    background-color: #202429;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

a {
    color: #0FA;
    text-decoration: none;
}

a:hover {
    color: #0CF;
    text-decoration: none;
}